
.form-control {
    display: block;
    width: 100%;
    height: 46px;
    padding: 7px 12px;
    font-size: 16px;
}

.user_card{
	padding: 50px 124px;
    background: #f1f1f1;
}


.mb-3 {
    background: radial-gradient(black, transparent);
    margin-bottom: 2rem !important ;
}

.h-100{
	padding: 10px;
    background: #f1f1f1;

}

.btnchanger{ text-align: center; }

























